.certification-title{
    text-align: center;
}

.certification-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
    justify-items: center;
  }
  